@charset "UTF-8";
/* CSS Document */

body{
	background-color:#FFFFFF;
	margin:0px;
	}
p{
	font-family:"Century Gothic", Arial;
	position:absolute;
	}
div{
	overflow:hidden;
	position:absolute;
	}
table{
	width:310px;
	height:110px;
	}

/* classes */

.text{
	color:#333333;
	font-size:9pt;
	line-height:18pt;
	}
span.titles{
	color:#000000;
	font-size:14px;
	}
span.black{
	color: #000000;
	}
span.purple{
	color: #cc00ff;
	}

/* div ids */

div#bg_00{
	z-index:00;
	background-color:#CCCCCC;
	top:0px;
	left:0px;
	height:120px;
	width:100%;
	}
div#screenshot{
	z-index:01;
	top:120px;
	left:20%;
	width:60%;
	height:auto;
	}
div#screenshot_vis{
	z-index:02;
	top:342px;
	right:55%;
	width:39%;
	height:auto;
	overflow:visible;
	float:left;
	}
div#title_10{
	z-index:10;
	top:0px;
	left:0px;
	width:20%;
	height:125px;
	}
div#members{
	z-index:11;
	bottom:0px;
	left:21%;
	overflow:visible;
	height:122px;
	width:78%;
	}
div#links_20{
	z-index:20;
	top:115px;
	left:0px;
	width:20%;
	height:200px;
	}
div#download{
	z-index:21;
	top:0px;
	left:21%;
	overflow:visible;
	width:200px;
	height:122px;
	}
div#vis_21{
	z-index:21;
	top:5px;
	right:20%;
	}
div#vis_22{
	z-index:22;
	top:115px;
	right:21%;
	width:20%;
	height:40px;
	}
div#line{
	z-index:100;
	width:0px;
	border:solid;
	border-width:1px;
	border-color:#CCCCCC;
	height:320px;
	top:270px;
	left:50%;
	}
div#line2{
	z-index:100;
	width:0px;
	border:solid;
	border-width:1px;
	border-color:#CCCCCC;
	height:420px;
	top:270px;
	left:50%;
	}
div#main_01{
	z-index:101;
	top:270px;
	right:52%;
	width:40%;
	text-align:right;
	overflow:visible;
	}
div#main_02{
	z-index:102;
	top:270px;
	left:52%;
	width:40%;
	text-align:left;
	overflow:visible;
	}
div#main_vis{
	z-index:103;
	top:300px;
	left:47%;
	width:40%;
	text-align:left;
	overflow:visible;
	}

/* p ids */

p#title{
	color:#FFFFFF;
	bottom:0px;
	right:0px;
	font-size:15pt;
	text-align:right;
	font-weight:bold;
	line-height:10pt;
	}
p#links{
	;color:#999999;
	top:0px;
	right:0px;
	text-align:right;
	font-size:9pt;
	line-height:15pt;
	}
p#download2{
	color:#999999;
	left:0px;
	bottom:0px;
	text-align:left;
	font-size:9pt;
	line-height:15pt;
	}
p#screenshots{
	color: #808080;
	right:0px;
	top:0px;
	text-align:right;
	font-size:9pt;
	line-height:15pt;
	}
p#members_p{
	color:#999999;
	bottom:0px;
	left:0px;
	font-size:9pt;
	line-height:15pt;
	}
	
/* links  */

a:link{
	color:#999999;
	text-decoration:none;
	}
a:visited{
	color:#999999;
	text-decoration:none;
	}
a:hover{
	color:#000000;
	text-decoration:none;
	}
	
a.download:link{
	color:#405050;
	text-decoration:none;
	}
a.download:visited{
	color:#405050;
	text-decoration:none;
	}
a.download:hover{
	color:#FFFFFF;
	text-decoration:none;
	}
	
#ss01{
	background-image: url(links/links_01.gif);
	display: block;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
	border:none;
	}	 
#ss01:hover {
    background-image: url(links/links_01b.gif);
    }
#ss02{
	background-image: url(links/links_02.gif);
	display: block;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
	}	 
#ss02:hover {
    background-image: url(links/links_02b.gif);
    }
#ss03{
	background-image: url(links/links_03.gif);
	display: block;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
	}	 
#ss03:hover {
    background-image: url(links/links_03b.gif);
    }