body {
  margin: 0px 0px 0px 0px;
  font-family: verdana, sans-serif; 
  font-size: 100%; 
  color: #F9F9F9;
  background-color: #707770;
  /*#888877; */
  text-decoration: none; 
  font-weight: normal; 
  line-height: normal; 
}

p {
  font-size: 0.75em;
  margin: 0px;
}
p#pline {
  margin-top: 12px;
}

div#content {
  position: absolute;
  
  left: 50%;
  margin-left: -474px;
  top: 15px;
  width: 950px;
  height: 735px; /*2125px; 1885*/
  background-color: #707770;
}

div#title {
  z-index: 500;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 550px;

}
div#textcontent {
  z-index: 500;
  position: absolute;
  top: 70px;
  left: 30px;
  width: 300px;
  font-size: 0.90em;
}

div#textcontent2 {
  z-index: 500;
  position: absolute;
  top: 70px;
  left: 380px;
  width: 520px;
  font-size: 0.9em;
}

div#galleryImg {
  z-index: 500;
  position: absolute;
  top: 710px; /*810px; 695*/
  left: 155px;
  /*129*/
}

img#galleryImg {
  position: absolute;
  top: 0px;
  left: 0px;
}

p#galleryImg {
  position: absolute;
  top: 302px;
  width: 300px;
}

div#plantDark {
  z-index: 200;
  position: absolute;
  top: 185px;
  left: 30px;
  /*115*/
}

img#bigStart {
  position: absolute;
  top: 0px;
  left: 0px;
}

span.emphasis {
	/*font-style:italic;*/
	color: #C9DDC9;
	font-size: 1.10em;
	font-weight:bold;
}

div#video {
  z-index: 500;
  
  position: absolute;
  top: 185px; /*1565*/ /*1315*/ /*1430*/
  left: 137px; /*30px; 156*/
}

p#videoTitle {
  position: absolute;
  color: #ffffff;
  top: 1502px; /*1232*/ /*1347*/
  left: 20px;
  width: 950px;
}

hr {
  width: 910px;
  position: absolute;
  
  top: 1510px; /*1240*/ /*1355*/
  left: 20px;
  border-top: 1px dotted #778877;
  border-bottom: 1px solid #888877;
}


div#back {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 0.75em;
}		
		a          { color: #000000; }
		a:link     { color: #000000; text-decoration: none; }
		a:visited  { color: #000000; text-decoration: none; }
		a:active   { color: #000000; text-decoration: underline; }
		a:hover    { color: #ffffff; text-decoration: underline; }

p#copyright {
  	position: absolute;
  	bottom: 10px;
	left: 10px;
	z-index: 500;
	text-align: left;
	color:#CCCCCC;
	font-size:0.65em;
	line-height:15pt;
}

span.cname {
    
}
	