body
{
	background-color:#fffbef;
	margin: 0;
	padding: 0;
	font-size:120%;
}

p
{

	font-family: candara, verdana, geneva, arial, helvetica, san-serif;
	position:absolute;
	margin:0px;

}

h5
{
	font-family: candara, verdana, geneva, arial, helvetica, san-serif;
	position:absolute;
	margin:0px;
}

div
{
	overflow:hidden;
	margin:0px;

}

#about_content
{
	z-index:103;
	position: absolute;
	/*margin-top: 0px;*/
	/*margin-left: auto*/
	/*margin-right: auto;*/
	top: 120px; /*211px;*/
	left: 50%;
	margin-left: -430px; /*-512*/
	width: 860px; /*850, 1024*/
	height: 890px;
}

#contact_content
{
	z-index:103;
	position: absolute;
	/*margin-top: 0px;*/
	/*margin-left: auto*/
	/*margin-right: auto;*/
	top: 100px; /*211px;*/
	left: 50%;
	margin-left: -430px; /*-512*/
	width: 860px; /*850, 1024*/
	height: 820px;
}

#content
{
	z-index:103;
	position: absolute;
	/*margin-top: 0px;*/
	/*margin-left: auto*/
	/*margin-right: auto;*/
	top: 120px; /*211px;*/
	left: 50%;
	margin-left: -430px; /*-512*/
	width: 860px; /*850, 1024*/
	height: 2500px;
}

#id_content
{
	z-index:103;
	position: absolute;
	/*margin-top: 0px;*/
	/*margin-left: auto*/
	/*margin-right: auto;*/
	top: 120px; /*211px;*/
	left: 50%;
	margin-left: -430px; /*-512*/
	width: 860px; /*850, 1024*/
	height: 1520px;
}

#header
{
	z-index:123;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 210px;
	background-image:
    url('../assets/starBar.png');
    background-repeat: repeat-x;
	background-position: 0px 100px;

}

#deslink 
{

	color:#3C3C3C;

}

div#cheader
{
	z-index:153;
	top:0px;
	left: 50%;

	margin-left: -512px; /*-512*/

	width: 1024px;
	height: 100px;



	/*background-image:*/
    /*url('../assets/consoleBar.png');*/
	/*background-position: 0px 0px;*/

}

div#filler /*for background color matching*/
{
	position: fixed;
	z-index:120;
	top:0px;
	left: 0px;

	width: 100%;
	height: 100px;

	/*background-image:*/
    /*url('../assets/starBarN.jpg');*/
	background:#ffffff;
    background-repeat: repeat-x;
	background-position: 0px 0px;
	/*background: #080808;*/

	/* for IE */
    filter:alpha(opacity=97);
    /* CSS3 standard */
    opacity:0.97; /*0.18*/

}

/*\*/
body>#header,body>#cheader
{
	position: fixed;
}

/* classes */
.desText
{

	text-align: left;
	color:#3c3c3c; /*FFFFFF*/
	font-size:0.70em;
	line-height:12pt;
	width: 860px;
}

.desText_about
{

	text-align: left;
	color:#3C3C3C; /*C9C9C9 9F9F9F*/
	font-size:1.0em;
	line-height:20pt;
	width: 500px;
}

span.mailto 
{

	color:#FFFFFF;
	font-size:1.0em;
}

.quoteSpacing
{
}

.quoteText
{

position:relative;
top:20px;

	color:#3C3C3C; /*C9C9C9*/
	font-size:0.70em;
	line-height:12pt;
	width: 720px;
	border-color:#999999;
	border-width:1px;
	border-style:dotted;

margin-top:20px;
padding-top:5px;
padding-bottom:5px;
}

.quoteTextTitle
{

	text-align: left;
	color:#FFFFFF;
	font-size:0.75em;
	line-height:12pt;
	width: 720px;
}

.desText_2
{

	text-align: left;
	color:#FFFFFF;
	font-size:0.70em;
	line-height:12pt;
	width: 860px;
}

span.titles{
	color:#FFFFFF;
	font-size:15px;
	}
span.subtitle{
	color:#9ffff9;
	font-size:12px;
	}
span.black{
	color: #000000;
	}
span.here{
	color: #3c3c3c; /*669999*/ /*779999*/
	}

#bg_00
{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 5px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    background-color: #989898;
    /*border: 0px solid black;*/


    /* CSS3 standard */
    opacity:0.10; /*0.78*/

	/* for IE */
    filter:alpha(opacity=78);
}

#bg_01
{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 12px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    background-color: #668888;
    /*border: 0px solid black;*/

    /* for IE */
    filter:alpha(opacity=10);
    /* CSS3 standard */
    opacity:0.1; /*0.38*/
}

#bg_02
{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 29px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    background-color: #99FFFF;
    /*border: 0px solid black;*/

    /* for IE */
    filter:alpha(opacity=10);
    /* CSS3 standard */
    opacity:0.13; /*0.48*/
}

#bg_03
{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 56px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    background-color: #99FFFF;
    /*border: 0px solid black;*/

    /* for IE */
    filter:alpha(opacity=10);
    /* CSS3 standard */
    opacity:0.1; /*0.38*/
}

#bg_04
{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 100px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    background-color: #308888; /*97c3c3*/
    /*border: 0px solid black;*/

    /* for IE */
    filter:alpha(opacity=10);
    /* CSS3 standard */
    opacity:0.1; /*0.18*/
}

div#title
{
	position: absolute;
	z-index:103;
	top:0px;
	left:22px;
	width:200px;
	height:110px;
}

div#topLinks
{
	position: absolute;
	z-index:653;
	top:0px;
	left:330px; /*288, 268*/
	overflow:visible;
	width:250px;
	height:110px;
}

div#main_header
{ /*projects*/

	position: absolute;

	z-index:105;
	top:35px;
	right:10px; /*20*/
	width:500px;
	height:50px;

	/*overflow:visible;*/
	/*border-style:dotted;*/

}

div#main_content
{
	position: absolute;
	z-index:105;
	top:115px;
	right: 5px; /*87px; 158px*/
	overflow:visible;
}

div#main_quotes
{
	position: absolute;
	z-index:108;
	top:115px;
	left: 50px; /*87px; 158px*/
	width:745px;
	height:800px;

	overflow:visible;
}

div#main_about
{
	position: absolute;
	z-index:105;
	top:80px; /*115*/
	left: 5px; /*87px; 158px*/
	width:600px;
	height:200px;

	/*color:#FFFFFF;
	border-style:dotted;*/

	overflow:visible;
}

div#contactImage 
{
	position: absolute;
	z-index:105;
	top:150px; /*115*/
	left: 100px; /*87px; 158px*/
	width:500px;
	height:200px;

	color:#FFFFFF;
	/*border-style:dotted;*/

	overflow:visible;
}

div#titleImage
{
	position: absolute;
	z-index:653;
	top:0px;
	left:88px; /*22*/
	overflow:visible;
	width:200px;
	height:110px;
}

p#title
{
	color:#FFFFFF;
	bottom:20px;

	font-size:18pt;

	font-weight:bold;
	line-height:15pt;
}

p#heading
{
	color:#DDDDDD;
	right:0px;

	font-size:1.8em;

	font-weight:normal;
	line-height:25pt;

}

p#menu
{
	color:#999999;
	bottom:15px;

	font-size:0.75em;
	line-height:15pt;
}

p#menu2
{
	color:#999999;
	bottom:15px;
    left: 58px;
	font-size:0.75em;
	line-height:15pt;
}

p#menu3
{
	color:#999999;
	bottom:15px;
    left: 118px; /*201*/
	font-size:0.75em;
	line-height:15pt;
}

p#menu4
{
	color:#999999;
	bottom:15px;
    left: 190px;
	font-size:0.75em;
	line-height:15pt;
}

p#menu5
{
	color:#999999;
	bottom:15px;
    left: 260px;
	font-size:0.75em;
	line-height:15pt;
}

p#copyright 
{
	z-index: 500;
	text-align: left;
    bottom:10px;
	left:10px;
	color:#999999;
	font-size:0.65em;
	line-height:15pt;
}

/* links  */
a:link
{
	color:#999999;
	text-decoration:none;
}

a:visited
{
	color:#999999;
	text-decoration:none;
}

a:hover
{
	color:#000000;
	text-decoration:underline;
}

/*about links*/
a.about 
{
	color:#3C3C3C;
	text-decoration:underline;
}

a.about:hover 
{
	color:#990000;
	text-decoration:underline;
}

a.about:visited 
{
	color:#999999;
	text-decoration:none;
}

img { border: none;

}
/* for name home link  */
a.rolloverN 
{
	display: block;
	width: 158px;
	height: 20px;
	text-decoration: none;
	background: url("../assets/nameBlack.png");
}

a.rolloverN:hover 
{
	background-position: 158px 0px;
}

a.rolloverN:active 
{
	position: relative;
	top: 5px;
}

/* new image rollover for each project */
/* HertzianRide */
a.rollover0 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/hertzianRideNW.jpg");
}

a.rollover0:hover 
{
	background-position: 850px 0px;
}

/* Hertzian explorer */
a.rollover1 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/hexpNW.jpg");
}

a.rollover1:hover 
{
	background-position: 850px 0px;
}

/*Torrent Watch*/
a.rollover2 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/twatchNW.jpg");

	border-color:#999999;
	border-width:1px;
	border-style:dotted;
}

a.rollover2:hover 
{
	background-position: 850px 0px;
}

/*ReVis*/
a.rollover3 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/revisNW.jpg");
}

a.rollover3:hover 
{
	background-position: 850px 0px;
}

/*Patriot Performer*/
a.rollover4 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/patriotNW.jpg");
}

a.rollover4:hover 
{
	background-position: 850px 0px;
}

/* Logo Painter */
a.rollover5 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/painterNW.jpg");
}

a.rollover5:hover 
{
	background-position: 850px 0px;
}

/* SyneTyper */
a.rollover6 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/typerNW.jpg");
}

a.rollover6:hover 
{
	background-position: 850px 0px;
}

/* Solar Panel Plant */
a.rollover7 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/plantNW.jpg");
}

a.rollover7:hover 
{
	background-position: 850px 0px;
}

/* DragonFly */
a.rollover8 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/dragonflyNW.jpg");
}

a.rollover8:hover 
{
	background-position: 850px 0px;
}

/* Bubble Times */
a.rollover9 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/bubbleNW.jpg");
}

a.rollover9:hover 
{
	background-position: 850px 0px;
}

/* Out of Control */
a.rollover10 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/controlNW.jpg");
}

a.rollover10:hover 
{
	background-position: 850px 0px;
}

/* Softimage renders */
a.rollover11 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/rendersNW.jpg");
}

a.rollover11:hover 
{
	background-position: 850px 0px;
}

/* Patent */
a.rollover12 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/watch2NW.jpg");
}

a.rollover12:hover 
{
	background-position: 850px 0px;
}

/* JunctionPoint */
a.rolloverJP 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/jpNW.jpg");
}

a.rolloverJP:hover 
{
	background-position: 850px 0px;
}

/* Quiver */
a.rolloverQuiver 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/quiver.jpg");
}

a.rolloverQuiver:hover 
{
	background-position: 850px 0px;
}

/* Drugeye */
a.rolloverDrugeye 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/drugeyeNW.jpg");
}

a.rolloverDrugeye:hover 
{
	background-position: 850px 0px;
}

/* BlowingBlues */
a.rolloverBlowingBlues 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/bbNW.jpg");
}

a.rolloverBlowingBlues:hover 
{
	background-position: 850px 0px;
}

/* Music for MS Surface */
a.rolloverMusic 
{
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/music.jpg");
}

a.rolloverMusic:hover 
{
	background-position: 850px 0px;
}

a.dorkbot:link 
{
	color:#999999;
	text-decoration: underline;
}

a.dorkbot:visited 
{
	color:#999999;
	text-decoration: underline;
}

a.dorkbot:hover 
{
	color:#000000;
	text-decoration: underline;
}

a.contact:link 
{
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: none;
}

a.contact:visited 
{
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: underline;
}

a.contact:hover 
{
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: underline;
}