body {
  margin: 0px 0px 0px 0px;
  font-family: verdana, sans-serif; 
  font-size: 100%; 
  color: #000000;
  background-color: #F9F9F8;
  /*#F8FFF8; */
  text-decoration: none; 
  font-weight: normal; 
  line-height: normal; 
}

p {
  font-size: 0.75em;
  margin: 0px;
}
p#pline {
  margin-top: 12px;
}

div#content {
  position: absolute;
  
  left: 50%;
  margin-left: -474px;
  top: 15px;
  width: 950px;
  height: 855px;
  background-color: #F9F9F8;
}

div#title {
  z-index: 500;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 550px;

}
div#textcontent {
  z-index: 500;
  position: absolute;
  top: 70px;
  left: 30px;
  width: 320px;
  font-size: 0.90em;
}

div#textcontent2 {
  z-index: 500;
  position: absolute;
  top: 70px;
  left: 380px;
  width: 520px;
  font-size: 0.9em;
}

div#galleryImg {
  z-index: 500;
  position: absolute;
  top: 695px;
  left: 129px;
}

img#galleryImg {
  position: absolute;
  top: 0px;
  left: 0px;
}

div#cap2 {
  position: absolute;
  top: 788px;
  left: 30px;
  font-size: 0.90em;
}

div#cap1 {
  z-index: 200;
  position: absolute;
  top: 185px;
  left: 30px;
  font-size: 0.90em;
}

div#instructions {
  position: absolute;
  top: 718px;
  left: 30px;
  font-size: 0.90em;
}

img#bigStart {
  position: absolute;
  top: 0px;
  left: 0px;
}

span.emphasis {
	/*font-style:italic;*/
	color: #585853;
	font-size: 1.10em;
	font-weight:bold;
}

div#video {
  z-index: 500;
  
  position: absolute;
  top: 185px; /*420px*/
  left: 30px; /*156px*/
  font-size: 0.90em;
}

p#videoTitle {
  position: absolute;
  color: #585853;
  top: 1382px;
  left: 20px;
  width: 950px;
}

hr {
  width: 910px;
  position: absolute;
  
  top: 1390px;
  left: 20px;
  border-top: 1px dotted #9F9F9F;
  border-bottom: 1px solid #F9F9F9;
}


div#back {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 0.75em;
}		
		a          { color: #181818; }
		a:link     { color: #181818; text-decoration: none; }
		a:visited  { color: #181818; text-decoration: none; }
		a:active   { color: #181818; text-decoration: underline; }
		a:hover    { color: #000000; text-decoration: underline; }

p#copyright {
  	position: absolute;
  	bottom: 10px;
	left: 10px;
	z-index: 500;
	text-align: left;
	color:#585858;
	font-size:0.65em;
	line-height:15pt;
}

span.cname {
    
}
	