body
	{
	/*background-color:#151515;*/
	background-color:#FEFEFE;

	
	
	margin: 0;

	
	
	}
p{
	font-family: verdana, geneva, arial, helvetica, san-serif;
	position:absolute;
	margin:0px;
}
h5{
	font-family: verdana, geneva, arial, helvetica, san-serif;
	position:absolute;
	margin:0px;
}
div{
	overflow:hidden;	
	margin:0px;

}
#content
	{
	z-index:103;
	position: absolute;
	/*margin-top: 0px;*/
	/*margin-left: auto*/
	/*margin-right: auto;*/
	top: 156px; /*211px;*/
	left: 50%;
	margin-left: -512px;
	width: 1024px;
	height: 2400px;
	/*background-color:#151515;*/
	/*background-color:#FEFEFE;*/
	}
#header
	{
	z-index:3;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 210px;
	background-image:
    url('../assets/starBar.png'); 
    background-repeat: repeat-x;
	background-position: 0px 100px;
	
	/* for IE */
    filter:alpha(opacity=100);
    /* CSS3 standard */
    opacity:1.00;
	
	}
	
div#cheader
	{
	z-index:653;
	top:0px;
	left: 50%;
	margin-left: -512px;

	width: 1024px;
	height: 100px;
	
	/*background-image:*/
    /*url('../assets/consoleBar.png');*/
	/*background-position: 0px 0px;*/
	
	}
div#filler /*for background color matching*/
	{
	position: fixed;
	z-index:120;
	top:0px;
	left: 0px;

	width: 100%;
	height: 100px;
	
	/*background-image: url('../assets/starBarN.jpg');*/
    	/*background-repeat: repeat-x;*/
	background:#FEFEFE;
	background-position: 0px 0px;
	/*background: #080808;*/
	
	    /* for IE */
    filter:alpha(opacity=58);
    /* CSS3 standard */
    opacity:0.58;
	
	}
	
/*\*/
body>#header,body>#cheader
	{
	position: absolute;
	}

/* classes */
.desText{
	
	text-align: left;
	color:#000000;
	font-size:0.70em;
	line-height:11pt;
	
}
.contact{
	text-align: left;
	color:#FFFFFF;

}
span.titles{
	color:#FFFFFF;
	font-size:15px;
	}
span.subtitle{
	color:#9ffff9;
	font-size:12px;
	}
span.black{
	color: #000000;
	}
#here{
	
	background:#F9FDFD;
     }

#bg_00{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 5px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    /*background-color: #989898;*/
	background-color:#00FF00;
    /*border: 0px solid black;*/
	

    /* CSS3 standard */
    opacity:0.78;
	
	/* for IE */
    filter:alpha(opacity=78);
}
	
#bg_01{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 12px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    /*background-color: #383848;*/
    background-color: #095566;
    /*border: 0px solid black;*/
	
    /* for IE */
    filter:alpha(opacity=68);
    /* CSS3 standard */
    opacity:0.68;
	}

#bg_02{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 29px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    /*background-color: #384848;*/
background-color: #004455;
    /*border: 0px solid black;*/
	
    /* for IE */
    filter:alpha(opacity=48);
    /* CSS3 standard */
    opacity:0.48;
	}

#bg_03{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 56px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    /*background-color: #284848;*/
background-color: #003344;
    /*border: 0px solid black;*/
	
    /* for IE */
    filter:alpha(opacity=38);
    /* CSS3 standard */
    opacity:0.38;
	}

#bg_04{
	position: fixed;
	z-index:108;
	width: 100%;
    height: 113px;
    margin: 100px 0px;
    /*background-image:*/
    /*url('links/bar.jpg'); */
    /*background-repeat: repeat-x*/
    /*background-color: #284848;*/
background-color: #002233;
    /*border: 0px solid black;*/
	
    /* for IE */
    filter:alpha(opacity=18);
    /* CSS3 standard */
    opacity:0.18;
	}
	
div#title{
	position: absolute;
	z-index:103;
	top:0px;
	left:22px;
	width:200px;
	height:110px;
	}
div#topLinks{
	position: absolute;
	z-index:653;
	top:0px;
	left:268px; /*288*/
	overflow:visible;
	width:350px;
	height:110px;

	}
	
div#main_header{ /*projects*/
	position: absolute;
	z-index:105;
	top:35px;
	left:22px;
	width:200px;
	
	overflow:visible;
	}
div#main_content{
	position: absolute;
	z-index:105;
	top:115px;
	left: 158px; /*87px;*/
	width:600px;
	overflow:visible;
	}
div#titleImage{
	position: absolute;
	z-index:653;
	top:0px;
	left:22px;
	overflow:visible;
	width:200px;
	height:110px;
	display:block;
	}	
p#title{
	color:#000000;
	bottom:20px;
	
	font-size:18pt;

	font-weight:bold;
	line-height:15pt;
	}
p#heading{
	color:#FEFEFE;
	
	
	font-size:0.8em;

	font-weight:normal;
	line-height:15pt;
	}
#menu a{
	
	position:absolute;
	color:#000000;
	left: 0px;
	font-size:0.75em;
	line-height:125pt;
	padding: 2px 10px 2px 10px;
	

	}
#menu a:hover{
	
	font-size:0.75em;
	line-height:125pt;
	
	
	background:#F9FDFD;
	/*background:#89FDDF;*/
	/*background:#FFFDFC;*/

	}

/*
#b{
padding: 2px 10px 2px 10px;
font-size:0.75em;
	line-height:125pt;
	background:#FFFDFC;
}
*/

#menu2 a{
	
	position:absolute;
	color:#000000;

	left: 58px;
	font-size:0.75em;
	line-height:125pt;
	padding: 2px 10px 2px 10px;
	
	

	}
#menu2 a:hover{
	
	
	color:#000000;

	left: 58px;
	font-size:0.75em;
	line-height:125pt;
   
	background:#F9FDFD;
	

	}

#menu3{
	
	color:#000000;

	bottom:15px;
    	left: 209px;
	font-size:0.75em;
	line-height:15pt;
	width:230px;
	}

#menu4 a{
	position:absolute;
	color:#000000;

	
    	left: 125px;
	font-size:0.75em;
	line-height:125pt;
	padding: 2px 10px 2px 10px;

	}
#menu4 a:hover{
	
	color:#000000;

	background:#F9FDFD;

	}
p#copyright {
        
	z-index: 500;
	text-align: left;
    bottom:10px;
	left:10px;
	color:#999999;

	font-size:0.65em;
	line-height:15pt;
}
/* links  */
a:link{
	color:#000000;
	text-decoration:none;
	}
a:visited{
	color:#000000;
	text-decoration:none;
	}
a:hover{


	color:#88CCCC;
	text-decoration:none;
	}	

	
img { border: none; 
	  
}
/* for name home link  */
a.rolloverN {
	display: block;
	width: 158px;
	height: 20px;
	text-decoration: none;
	background: url("../assets/nameBlack.png");
	
	}
a.rolloverN:hover {
	background-position: 158px 0px;
	}


/* new image rollover for each project */
/* HertzianRide */
a.rollover0 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../idea/assets/hertzianRide.jpg");
	
	}

a.rollover0:hover {
	background-position: 850px 0px;
	}

/* Hertzian explorer */
a.rollover1 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/hexp.jpg");
	
	}

a.rollover1:hover {
	background-position: 850px 0px;
	}
	
/*Torrent Watch*/
a.rollover2 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/twatch.jpg");
	}

a.rollover2:hover {
	background-position: 850px 0px;
	}
	
/*ReVis*/
a.rollover3 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/revis.jpg");
	}

a.rollover3:hover {
	background-position: 850px 0px;
	}
	
/*Patriot Performer*/
a.rollover4 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/patriot.jpg");
	}

a.rollover4:hover {
	background-position: 850px 0px;
	}
	
/* Logo Painter */
a.rollover5 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/painter.jpg");
	}

a.rollover5:hover {
	background-position: 850px 0px;
	}
	
/* SyneTyper */
a.rollover6 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/typer.jpg");
	}

a.rollover6:hover {
	background-position: 850px 0px;
	}

/* Solar Panel Plant */
a.rollover7 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/plant.jpg");
	}

a.rollover7:hover {
	background-position: 850px 0px;
	}
	

/* DragonFly */
a.rollover8 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/dragonfly.jpg");
	}

a.rollover8:hover {
	background-position: 850px 0px;
	}
	
/* Bubble Times */
a.rollover9 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/bubble.jpg");
	}

a.rollover9:hover {
	background-position: 850px 0px;
	}

/* Out of Control */
a.rollover10 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/control.jpg");
	}

a.rollover10:hover {
	background-position: 850px 0px;
	}
	
/* Softimage renders */
a.rollover11 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/renders.jpg");
	}

a.rollover11:hover {
	background-position: 850px 0px;
	}

/* Patent */
a.rollover12 {
	display: block;
	width: 850px;
	height: 100px;
	text-decoration: none;
	background: url("../assets/watch2.jpg");
	}

a.rollover12:hover {
	background-position: 850px 0px;
	}
	
a.dorkbot:link {

	color:#000000;
	text-decoration: underline;
}
a.dorkbot:visited {
	color:#000000;
	text-decoration: underline;
}
a.dorkbot:hover {
	color:#88CCCC;
	background:#FFFFCC;
	text-decoration: underline;
}
a.contact:link {
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: none;
}
a.contact:visited {
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: underline;
}
a.contact:hover {
	font-size:0.75em;
	color:#FFFFFF;
	text-decoration: underline;
}